/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";


.done{
  text-decoration: line-through;
}

body{
  background-color: rgb(72, 71, 71);
  color:rgb(92, 92, 235)
}
